@inherits LayoutComponentBase
@inject IJSRuntime JS

<NavBar />

<main class="container">
	<SearchBox />
	<div class="my-3 p-3 bg-white rounded shadow-sm">
		<!-- Conent goes here-->
		@Body
		<!-- End of content -->
	</div>
</main>

<footer>
	<div class="container py-3">
		<span class="text-muted copyright"
			>Copyright &copy; @DateTime.Now.Year by JobJournal. All rights reserved.</span>
	</div>
</footer>

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JS.InvokeVoidAsync("bindOffcanvasToggle");
		}
	}
}