@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<nav
	class="navbar navbar-expand-lg fixed-top navbar-dark bg-blue shadow-sm"	aria-label="Main navigation">
	<div class="container">
		<a class="navbar-brand" href="#"	><i class="bi bi-book-half"></i> <strong>JobJournal</strong></a>
		<button
			class="navbar-toggler p-0 border-0"
			type="button"
			id="navbarSideCollapse"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<AuthorizeView>
			<Authorized>
				<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
						<NavLink class="nav-link" href="" Match="NavLinkMatch.All">Overview</NavLink>
						<NavLink class="nav-link" href="fetchdata">Applications</NavLink>
						<NavLink class="nav-link" href="counter">Companies</NavLink>
					</ul>

					<div class="dropdown">
						<button class="btn btn-outline-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person-circle"></i> @context.User.Identity?.Name
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item" href="#" @onclick="@BeginLogout" @onclick:preventDefault >Sign out</a></li>
						</ul>
					</div>
				</div>
			</Authorized>
			<NotAuthorized>
				<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li>
							<button class="btn btn-outline-white" @onclick="NavigateToLogin">Sign in</button>
						</li>
					</ul>
				</div>
			</NotAuthorized>
		</AuthorizeView>
	</div>
</nav>

@code{
	private async Task BeginLogout(MouseEventArgs args)
	{
		await SignOutManager.SetSignOutState();
		Navigation.NavigateTo("authentication/logout");
	}

	private void NavigateToLogin(MouseEventArgs args)
	{
		Navigation.NavigateTo("authentication/login");
	}
}
